/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.sep.2016, 20:17:36
    Author     : Asbjørn
*/

.headerWrap {
	border: 1px solid black;
}

#header {
	color:black;
}

#Logo {
    float:top;
    height:100px;
    width:1890px;
}

#HarambePic {
    float:left;
    margin-top:11px;
    margin-left:11px;
}

article {
	margin-top:1%;
    height: 711px;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    width:500px;
	float:left;
      

}

nav {
	margin-top:-15%;
}

nav > a > button {
    height: 50px;
    width:200px;
    margin-left:5px;
    background-color:#4d2800;
    font-size:22px;
    color:black;
    
    
}

a {
    text-decoration:none;
    color:white;
}

#header {
    text-align:center;
}

#retterHeader {
    text-align:center;
}

