/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.sep.2016, 20:17:36
    Author     : Jørgen
*/

body {
	background-color: #F9F9F9;
}



.pageWrap {
    background: white;
    max-width: 1080px;
    width: 100%;
    min-height: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
	
	
.headerWrap {
    max-width: 1080px;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom right, #A52224, #590000);
}

header {
    max-width: 360px;
    width: 33.3333%;
    height: 150px;
    float: left;
    margin-bottom: 1%;
    }
    
header img {
    position: relative;
    width: 100%;
}


nav {
    max-width: 720px;
    width: 66.6667%;
    height: 150px;
    float: right;
    margin-bottom: 1%;
}

nav ul {
    width: 100%;
    list-style: none;
    margin-top: 9%;
}

nav ul li {
    width: 25%;
    float: left;
}

nav ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: #F2F2F2;
    font-size: 160%;
    font-family: monospace;
    text-align: center;
}

nav ul li a:hover {
    font-size: 180%;
}
nav ul li a:active {
    
}

a {
	text-decoration: none;
}

h1 {
	color: #F2F2F2;
	font-family: monospace;
	margin-left: 10%;
	font-size: 260%;
	font-weight: 100;
	margin-top: 10%;
}

#HarambePic {
	float: left;
}

article {
	margin-left: 53%;
}

