/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.sep.2016, 12:16:09
    Author     : geeky
*/


nav {
	margin-top: -15%;
}

nav > button {
    height: 50px;
    width:200px;
    margin-left:5px;
    background-color:#4d2800;
    font-size:22px;
    color:black;
    
     
}

a {
    text-decoration:none;
    color:white;
}

#header {
    text-align:center;
}

#retterHeader, #bordHeader {
    text-align:center;
	font-family: monospace;
}

#rettArtikkel {
    margin-top:4%;
    border: 1px solid black;
    width: 48%;
	font-family: monospace;
	height:720px;
	
}

#rettArtikkel1 {
	border: 1px solid black;
	width:48%;
	float:left;
	
}



#rettArtikkel2 {
    float:left;
    margin-top:0%;
    width:50%;
    
	
    
}

#bordArtikkel {
    border: 1px solid black;
    width: 48%;
    height: 720px;
    margin-top:-66.7%;
    margin-left:50%;
	font-family: monospace;
	float:right;
}

#BordArtikkel2 {
    float:right;
    margin-top:-106.5%;
    width:50%;
}

.retter {
    border: 1px solid black;
    width: 100%;
	
	float:left;
	float:bottom;
	
}

.retter2 {
    border: 1px solid black;
	height:22%;
	float:right;
	float:bottom;
}

.rettBildeWrapper {
	float: left;
	
	width:45%;
	height:148px;
	border: 1px solid black;
}
.rettBilde {
    width:100%;
	height:100%;
	
}

.rettSkrift {
	height:auto;
    float:right;
	width:auto;
	
    
}

.pageWrap {
	width:auto;
	border: 1px solid black;
	height:auto;
	
	
}


body {
padding: 0;
margin: 0;
width: 100%;


}

.bord {
    border: 1px solid black;
    width: 48%;
    height:110px;
    border-radius:300px;
    margin-top:5%;
    text-align:center;
    background: linear-gradient(to bottom right, #A52224, #590000);
}

.bord2 {
    border: 1px solid black;
    width: 100%;
    height:110px;
    border-radius:300px;
    margin-top:10%;
    text-align:center;
    background: linear-gradient(to bottom right, #A52224, #590000);
}

#bestillingBoks {
    border: 2px solid black;
    text-align:center;
    width:48%;
    margin-right:2%;
	margin-top:0.5%;
	float:left;
}

#bestillingsBoks2 {
	border: 2px solid black;
    text-align:center;
    width:48%;
    margin-right:0;
	margin-top:0.5%;
	float:right;
}

#retterSubmit {
	margin-top:0%;
	margin-left:21%;
	
}
.bestillingBoksD {
	margin-top:-3%;
}
